a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.selection {
  width: 200px;
  overflow: auto;
}

#category-list {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d3e5f6;
}

.book-list {
  display: flex;
}

.book {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book h2 {
  font-size: 20px;
  margin-top: 0;
}

.book img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book p {
  margin: 5px 0;
}

.book-list a.book {
  transition: transform 0.3s ease;
}

.book-list a.book:hover {
  text-decoration: none;
  transform: scale(1.05);
}
